<% var title = "Page not found" %>
<% include head.ejs %>
    <div class="container">
        <h1 class="num-404">404</h1>
        <h2 class="txt-404">Цієї сторінки не існує.</h2>
    </div>
<% include footer.ejs %>