<% var title = "Contacts Page" %>
<% include head.ejs %>
<div class="contacts-head"> 
    <div><hr></div>
    <div><h2>Контакти</h2></div>
    <div><hr></div>
</div>
<div class="contacts container">
    <div class="txt-block">
        <p>Питання та підтримка</p>
        <span>andrey8blak@gmail.com</span>
    </div>
    <div class="txt-block">
        <p>Телефон</p>
        <span>+38 063 283 31 30</span>
    </div>
    <div class="txt-block">
        <p>Юридична адреса</p>
        <span>м. Рівне, вул. Неіснуюча, 14</span>
    </div>
</div>
<% include footer.ejs %>