<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<title><%= subject %></title>
<style type="text/css">
    span {
        color: red;
    }
</style>
</head>
<body>
    <p>
        Вітаю <%= login %>! Ви щойно зареєструвались на сайті <a href="http://localhost:3000/">Sausege</a>. Ваш пароль <span><%= password %></span>. Змінити пароль Ви можете в кабінеті на сайті.
    </p>
</body>
</html>